.match-container {
  width: 1280px;
  height: 720px;
  position: relative;
  background: #000;
}

.canvas-container {
  width: 1280px;
  height: 720px;
  position: relative;
}

.game-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-canvas {
  z-index: 1;
}

.fg-canvas {
  z-index: 2;
}
